body {
	font-family: 'Open Sans', sans-serif;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.header {
	margin: 53px 0;
}
.nav__list {
	text-align: center;
}
.nav__item {
	display: inline-block;
	margin-right: 45px;
}
.nav__item:last-child {
	margin-right: 0px;
}
.nav__link {
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	text-decoration: none;
}
.conteiner {
	max-width: 1300px;
	margin: 0 auto;
}
.background {
	text-align: center;
	background-image: url(../img/bg-image.png);
}
.background__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 98px;
	color: #FFFFFF;
	padding-top: 138px;
	margin-bottom: 14px;
}
.background__button {
	width: 420px;
	height: 70px;
	border: none;
	background: #FFFFFF;
	border-radius: 5px;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	color: #162C38;
	margin-bottom: 180px;
}
.description {
	background-color: rgba(26, 110, 136, 0.71);
	text-align: center;
}
.description__text {
	font-weight: 400;
	font-size: 36px;
	line-height: 49px;
	color: #FFFFFF;
	max-width: 800px;
	margin: 0 auto;
	padding: 135px;
}
.article {
        position: relative;
}
.article__text {
	width: 696px;
	height: 246px;
	font-weight: 400;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	margin: 0 auto;
	padding-top: 221px;
	padding-bottom: 216px;
	position: relative;
}
.div-before {
    position: absolute;
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    left: 0px;
    bottom: 453px;
}
.div {
    position: absolute;
    height: 121px;
    width: 178px;
    left: 0px;
    top: 339px;
    border-radius: 0px;
    background: rgb(191, 222, 251);
}
.div-after {
    position: absolute;
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    right: 0px;
    top: 236px;
}
.article__text-text {
	width: 696px;
	height: 246px;
	font-weight: 400;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	margin: 0 auto;
	padding-top: 221px;
	padding-bottom: 216px;
	position: relative;
}
.article__text-text::before {
	content: '';
	position: absolute;
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background: #5C98AB;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid #000000;
	top: 170px;
	left: -50px;
	}
.article__text-text::after {
	content: '';
	position: absolute;
	width: 120px;
	height: 120px;
	background-color: #BFDEFB;
	border-radius: 50%;
	right: -120px;
	bottom: 165px;
}
.form-section {
	max-width: 650px;
	margin: 63px auto 100px;
}
.form__input {
	position: relative;
	margin-bottom: 41px;
}
.lable {
	position: absolute;
	top: 14px;
	left: 31px;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
}
.input {
	width: 100%;
	padding: 36px 0 11px 34px;
	border: 1px solid #000000;
	border-radius: 4px;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 36px;
	line-height: 49px;
	color: #000000;
}
.input::placeholder {
	font-weight: 400;
	font-size: 36px;
	line-height: 49px;
	color: #000000;
}
.button {
	width: 100%;
	height: 92px;
	background: #5C98AB;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
	color: #FFFFFF;
	border: none;
	margin-bottom: 729px;
}
